<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>avatar</ion-title>
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/img/obito1.jpg"/>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of avatar">
    <ion-item>
      <ion-avatar slot="end">
        <img [src]="item.icono"/>
      </ion-avatar>
      <ion-label>{{item.nombre}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
