<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>    
    <ion-title>cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Por Fox</ion-card-subtitle>
      <ion-card-title>Los Simpsons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La Segunda Guerra Mundial fue un conflicto militar global que se desarrolló entre 1939 y 1945. 
      En ella se vieron implicadas la mayor parte de las naciones del mundo.
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Por Fox</ion-card-subtitle>
      <ion-card-title>Los Simpsons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="assets/img/obito1.jpg"></ion-img>
      <div class="texto">
        El comienzo del conflicto se suele situar en el 1 de septiembre de 1939, con la invasión alemana de Polonia, 
        el primer paso bélico de la Alemania nazi en su pretensión de fundar un Tercer Reich alemán sobre Europa.
      </div>
    </ion-card-content>
    
  </ion-card>  
</ion-content>
