<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>      
    </ion-buttons>
    
    <ion-title>search</ion-title>

  </ion-toolbar>

  <ion-searchbar placeholder="Filter Pizza"
        inputmode="texto"
        (ionChange)="onSearchChange($event)"
        [debounce]="250"
        >
  </ion-searchbar>

</ion-header>

<ion-content>

  
  <ion-list>
    <ion-items>
      <ion-item *ngFor="let album of albums | filtro:busqueda">
        <ion-label>
          {{album.title}}
        </ion-label>
      </ion-item>
    </ion-items>
  </ion-list>

</ion-content>
