<ion-header>
  <ion-toolbar>
    <ion-title>grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="12" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
      <ion-card>
        <ion-img src="assets/img/obito1.jpg"></ion-img>
      </ion-card>
      <ion-card-header>
        <ion-card-subtitle>Por fox</ion-card-subtitle>
        <ion-card-title>Los Simpsons</ion-card-title>
      </ion-card-header>
      <ion-card-content>Habia una vez un obito uchiha jajajajajaj</ion-card-content>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
